.header {
    &__upmenu {
        background-color: $black;
        color: $white;
        font-size: $base-font-size;
        padding: 1.2rem 0;
        [class*="__container"] {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            
        }
    }
    &__city {
        display: flex;
        align-items: center;
        gap: 0.7rem;
        img {
            height: 2.4rem;
            width: 1.7rem;
        }
        a {
            color: $white;
            font-size: $base-font-size;
        }
    }
    &__logo {
        cursor: pointer;
        img {
            width: 13.3rem;
            height: 2.7rem;
        }
        
    }
    &__burger {
        width: 2.5rem;
        height: 1.8rem;
    }

    &__downmenu {
        padding: 2rem 0;
        [class*="__container"] {
            display: grid;
            grid-template-columns: repeat(4, max-content);
            gap: 3rem;
            align-items: center;
            height: 100%;
            @media (max-width: 48em) {
                display: flex;
                justify-content: space-between;
            }
        }
    }
    &__catalog {
        img {
            width: 2rem;
            height: 2rem;
        }
        button {
            background-color: $base-color;
            border-radius: 0.9rem;
            padding: 1.5rem 2.5rem;
            color: $white;
            font-size: $base-font-size;
            gap: 0.7rem;
            display: flex;
        }
        button:hover {
            background-color: $base-color-hover;
            transition: 0.2s;
        }
        @media (max-width: 48em) {
            display: none;
        }
    }
    &__search {
        background-color: $base-color;
        width: 85.1rem;
        height: 5.5rem;
        border-radius: 0.9rem;
        display: flex;
        align-items: center;
        input {
            width: 79.4rem;
            height: 5.1rem;
            border: none;
            font-size: 1.5rem;
            border-radius: 0.7rem;
            margin: 0.2rem 0;
            margin-left: 0.2rem;
            text-indent: 1.4rem;
        }
        img {
            margin-left: 1.3rem;
            width: 2.5rem;
            height: 2.5rem;
            cursor: pointer;
        }
        @media (max-width: 48em) {
            display: none;
        }
    }
    &__search_mobile {
        position: relative;
        input {
            width: 100%;
            height: 5.4rem;
            background-color: #F6F6F6;
            border: none;
            text-indent: 4rem;
            border: 1px solid $base-color;
            border-radius: 0.9rem;
            font-size: 1.5rem;
        }
        .loop {
            position: absolute;
            z-index: 1000;
            top: 1.9rem;
            left: 1.5rem;
            svg {
                width: 1.7rem;
                height: 1.7rem;
            }
        }
    }
    &__buttons {
        display: flex;
        gap: 1.5rem;
        img {
            width: 2.4rem;
            height: 2.4rem;
            @media (max-width: 48em) {
                width: 2rem;
                height: 2rem;
            }
        }
        button {
            padding: 1.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            color: $gray;
            font-size: 1.3rem;
            span {
                @media (max-width: 48em) {
                    display: none;
                }
            }
            
        }
        button:hover {
            span {
                color: black;
                transition: 0.2s;
            }
        }
        @media (max-width: 48em) {
            gap: 0.5rem;
        }
    }
}
.catalog {
    @media (max-width: 48em) {
        visibility: hidden;
    }
    background-color: #F8F8F8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    position: absolute;
    z-index: 1000;
    &__container {
        display: flex;
        padding: 2rem 0;
        
        
    }
    &__categories {
        
    }
    &__category {
        cursor: pointer;
        color: $black;
        font-size: 1.4rem;
        padding: 1rem 4rem 1rem 2rem;
        font-weight: bold;
    }
    &__list_active {
        display: flex !important;
    }
    &__category:hover {
        background-color: $white;
        color: $base-color;
        border-radius: 0.4rem;
        transition: 0.2s;
    }
    &__list-block {
        padding: 3rem 0;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-left: 2rem;
        gap: 5rem;
    }
    &__list-column {
        h3 {
            padding-top: 1rem;
            font-weight: bold;
        }
        a {
            font-size: 1.4rem;
            color: $black;
        }
        a:hover {
            color: $base-color;
            transition: 0.2s;
        }
        li {
            margin-top: 1.5rem;
        }
    }
}