.products {
    &__title {
        margin: 3.5rem 0;
        font-size: $title-section-font-size;
        font-weight: bold;
        color: $black;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        @media (max-width: 48em) {
            justify-content: center;
        }
    }
    [class*="__container"] {
        padding: 0;
    }

}
.card:hover {
    .card__favourite {
        display: flex;
    }
}
.card {
    padding: 2.2rem 2rem;
    width: max-content;
    &__img {
        img {
            width: 25.2rem;
            height: 33.6rem;
            object-fit: cover;
        }
        position: relative;
    }
    &__favourite{
        cursor: pointer;
        display: none;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: #EAEAF6;
        width: 3rem;
        height: 3rem;
        top: 3rem;
        right: 1.5rem;
        border-radius: 0.4rem;
        svg {
            height: 2rem;
            width: 2rem;
        }
        path {
            fill: transparent;
            stroke: $black;
        }
    }
    &__favourite:active {
        path {
            fill: $base-color;
            stroke: $base-color;
        }
    }
    &__discount {
        display: none;
        position: absolute;
        padding: 0.5rem 0.7rem;
        bottom: 0;
        left: 8;
        background-color: #FDEEF9;
        color: $base-color;
        font-size: $card-font-size;
        border-radius: 0.8rem;
        font-weight: bold;
    }
    &__advertisement {
        display: none;
        position: absolute;
        right: 8;
        bottom: 0;
        font-weight: bold;
        font-size: $card-font-size;
        background-color: $base-color;
        border-radius: 0.8rem;
        padding: 0.7em 0.9em;
        color: $white;
    }
    &__body {
        font-size: $card-font-size;
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
    }
    &__price {
        display: flex;
        align-items: center;
        gap: 0.8rem;
    }
    &__current-price {
        color: $black;
        font-size: 1.8rem;
        font-weight: bold;
    }
    &__old-price {
        display: none;
        text-decoration: line-through;
        color: gray;
        font-weight: bold;
    }
    &__title {
        width: 25.3rem;
        color: $black;
    }
    &__rating {
        display: flex;
        gap: 0.5rem;
        
        svg {
            width: 9.6rem;
            height: 1.6rem;
        }
        span {
            color: $gray;
        }
    }
    &__btn {
        margin-top: 1.2rem;
        button {
            padding: 0.9rem 2.2rem;
            background-color: $base-color;
            color: $white;
            font-weight: bold;
            border-radius: 0.9rem;
        }
        button:hover {
            background-color: $base-color-hover;
            transition: 0.2s;
        }
    }
}