.search {
    margin-top: 2.4rem;
    &__title {
        font-size: $title-section-font-size;
        font-weight: bold;
        color: $black;
    }
    &__content {
        display: flex;
        margin-top: 6rem;
        gap: 4rem;
    }
}

.arrow-reverse::after {
    transform: rotate(180deg);
    transition: 0.5s;
}

.sidefilter {
    @media (max-width: 48em) {
        display: none;
    }
    width: 35.5rem;
    &__header {
        display: flex;
        justify-content: space-between;
        .sidefilter__title {
            font-size: 2.2rem;
            margin-bottom: 0;
            cursor: auto;
        } 
        .sidefilter__title::after {
            background: none;
        } 
    }
    &__title {
        font-size: 1.8rem;
        font-weight: bold;
        color: $black;
        margin-bottom: 2.5rem;
        position: relative;
        cursor: pointer;
        
    }
    &__title::after {
        position: absolute;
        
        content: "";
        width: 1.3rem;
        height: 0.8rem;
        background: url("@/assets/img/icons/arrow-sort.svg") no-repeat center center;
        right: 0;
        top: 0;
        transition: 0.5s;
    }
    &__reset {
        cursor: pointer;
        
        span {
            font-size: 1.6rem;
            color: #7E838C;
            font-weight: bold;
        }
        display: flex;
        align-items: center;
        gap: 1.4rem;
        svg {
            width: 1.4rem;
            height: 1.4rem;
        }
        path {
            fill: #7E838C;
        }
    }
    &__filters {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    &__filter-item {
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-bottom: 1.6rem;
        label {
            font-size: 1.5rem;
            color: $black;
        }
        input[type=radio] {
            width: 2.2rem;
            height: 2.2rem;
        }
        input[type=checkbox] {
            width: 2.2rem;
            height: 2.2rem;
            accent-color: $base-color;
        }

    }
}
.colorpick {
    display: flex;
    gap: 0.5rem;
    &__color {
        border-radius: 50%;
        width: 3.4rem;
        height: 3.4rem;
        border: 0.3rem solid #ece9e9;
    }
    &__color:hover {
        outline: 0.2rem solid $base-color;
    }
    &__black {
        background-color: black;
    }
    &__red {
        background-color: red;
    }
    &__white {
        background-color: white;
    }
}

.assortment {
    width: 100%;
    &__sort {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 1.2rem;
        p {
            color: #7E838C;
            font-size: 1.6rem;
        }
        select {
            border: 0.2rem solid $gray;
            border-radius: 0.6rem;
            padding: 0.6rem;
            padding-right: 1rem;
            outline: none;
            font-size: 1.5rem;
            color: $black;
        }
        select:hover{
            border: 0.2rem solid $base-color;
            transition: 0.2s;
        }
        select:focus{
            border: 0.2rem solid $base-color;
            transition: 0.2s;
        }
    }
}
.cost-range {
    display: flex;
    width: 100%;
    margin-bottom: 1.6rem;
    input {
        height: 3.6rem;
        border: 0.1rem solid #7E838C;
        text-indent: 1rem;
        font-size: 1.6rem;
        width: 100%;
        position: relative;
    }
    input:focus {
        border: none;
        outline: 0.2rem solid $base-color;
        z-index: 5;
    }
    span {
        font-size: 1.4rem;
        color: #7E838C;
    }
    &__start {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        input {
            border-radius: 0.7rem 0 0 0.7rem;

        }
    }
    &__end {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        input {
            border-left: none;
            border-radius: 0px 0.7rem 0.7rem 0px;
        }
    }
}